.g-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.g-button {
  border: 1px $secondary-color solid;
  padding: 10px 25px;
  color: $secondary-color;
  font-size: 15px;
  display: inline-block;
  border-radius: 3px;

  @include button-hover-dark;
}

@keyframes scale0to1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
