.g-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.g-button {
  border: 1px $secondary-color solid;
  padding: 10px 25px;
  color: $secondary-color;
  font-size: 15px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;

  @include button-hover-dark;
}

.g-title {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  .text {
    width: auto;
    i {
      font-size: 15px;
      margin: 20px;
      color: $secondary-color;
    }
  }

  .line {
    flex: 1;
    height: 1px;
    border-bottom: 1px #ddd solid;
    width: 100%;
  }
}

.g-description {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  color: $primary-color;
}
.swiper-pagination-bullet-active {
  background: $primary-color;
}

.g-shop-filter {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  .g-button {
    background: transparent;

    i {
      margin-right: 5px;
    }
    &:hover {
      background: black;
    }
  }
}

.g-shop-filter-modal {
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    select {
      height: 30px;
    }

    button {
      background: transparent;
      &:hover {
        background: black;
      }
    }
  }
}

.g-paginate {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;

  a,
  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px $primary-color solid;
    color: $primary-color;
    font-size: 15px;
    min-width: 40px;
    min-height: 40px;

    &.current,
    &:hover {
      color: white;
      background: $primary-color;
    }
  }
}

.zalo-chat-widget {
  right: 18px !important;
  bottom: 90px !important;
}

.g-content {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  ul {
    padding-left: 20px;
  }
}