@use "sass:math";
@mixin desktop {
  @media only screen and (min-width: 1026px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 1025px) {
    @content;
  }
}

@mixin button-hover-light {
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: white;
    color: black;
  }
}

@mixin button-hover-dark {
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: black;
    color: white;
  }
}

@mixin input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
