.my-myaccount {
  display: flex;
  gap: 40px;
}

.my-myaccount-nav {
  width: auto !important;
}

.my-myaccount-nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  background: black;
  color: white;
  width: auto;
  margin: 0;
}

.my-myaccount-nav ul li {
  display: flex;
  align-items: center;
  padding: 30px;
}

.my-myaccount-nav ul li a {
  color: white;
  font-weight: 600;
}

.my-myaccount-content {
  flex: 1;
  float: unset;
}

@media only screen and (max-width: 1025px) {
  .my-myaccount {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .my-myaccount-nav {
    width: 100% !important;
  }
  .my-myaccount-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .my-myaccount-nav ul li {
    padding: 10px;
    justify-content: center;
    text-align: center;
  }
}
