.page-shop {
  padding-bottom: 50px;
  section.banner {
    a {
      display: block;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
